language: php

php:
    - 5.3.3
    - 5.3
    - 5.4
    - 5.5

env:
    - TWIG_BUNDLE_VERSION=2.2
    - TWIG_BUNDLE_VERSION=2.3
    - TWIG_BUNDLE_VERSION=2.4

before_script:
    - echo "extension = mongo.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
    - if [ $(php -v | grep '5.3.3' -c) -ne 0 ]; then export PREFER="--prefer-source"; else PREFER="--prefer-dist"; fi
    - composer require symfony/twig-bundle:${TWIG_BUNDLE_VERSION} ${PREFER} --no-interaction --no-progress

notifications:
    email:
        - tomas@pecserke.eu
